<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>
<body>
<a th:href ="@{/}"> Go to Homepage</a>
<span style="align-self: center">LIST OF MANAGER</span>
<br>
<div>
  <table style="width:100%">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Status</th>
    </tr>

    </thead>
    <tbody>
    <tr th:each="storeManager: ${storeManager}">
      <td th:text="${storeManager.id}">ID</td>
      <td th:text="${storeManager.fullName}">Name</td>
      <td th:text="${storeManager.status}">Status</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>