<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>
<body>
<a th:href ="@{/}"> Go to Homepage</a>
<span style="align-self: center">List of Laundry Request</span>
<br>
<div>
  <table style="width:100%">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Machine ID</th>
      <th>Customer ID</th>
      <th>Request Status ID</th>
      <th>Date</th>
      <th>Status</th>

    </tr>

    </thead>
    <tbody>
    <tr th:each="laundry_request: ${laundry_request}">
      <td th:text="${laundry_request.id}">ID</td>
      <td th:text="${laundry_request.machine_id}"></td>
      <td th:text="${laundry_request.customer_id}"></td>
      <td th:text="${laundry_request.date}"></td>
      <td th:text="${laundry_request.amount}"></td>

    </tr>
    </tbody>
  </table>
</div>
</body>
</html>